<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGSS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App">

        <activity android:name=".xinxichaxunActivity">

        </activity>
        <activity android:name=".gongzuoxiangqingActivity" />
        <activity android:name=".zhanghaoshezhiActivity" />
        <activity android:name=".index_guanliyuanActivity" />
        <activity android:name=".index_weixiurenyuanActivity" />
        <activity android:name=".index_xueshengActivity" />
        <activity
            android:name=".loginActivity"
            android:theme="@style/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".index_jiaoshiActivity" />
        <activity android:name=".tongzhiActivity" />
        <activity
            android:name=".baoxiumesaageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen"/>
    </application>

</manifest>